/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019/3/28, 上午 09:17:56
    Author     : wailampoon
*/

/*--------------------------------fontPage-------------------------------*/



#teacherBtn {
    -fx-background-color: #FFAD36;
    -fx-background-image: url("pics/teacher-male-95007.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-radius: 32 ;
    -fx-border-width: 3; 
    -fx-border-color: white;
    -fx-border-radius:  30;
}

#teacherBtn:hover{
    -fx-background-color: #FF5915;
    -fx-background-radius:  32;
    -fx-border-width: 3; 
    -fx-border-color: black;
    -fx-border-radius:  30;  
}

#studentBtn{
    -fx-background-image: url("pics/graduate-student-icon-14068.png");
    -fx-background-color: #FFAD36;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-radius: 32 ;
    -fx-border-width: 3; 
    -fx-border-color: white;
    -fx-border-radius:  30;
}

#studentBtn:hover{
    -fx-background-color: #FF5915;
    -fx-background-radius:  32;
    -fx-border-width: 3; 
    -fx-border-color: black;
    -fx-border-radius:  30;
}

/*--------------------------------loginPage-------------------------------*/



#Background
{

    -fx-background-image: url(pics/easv.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-opacity: 0.9;

}


#AnchorPane2{
    -fx-background-color:black;
    -fx-opacity: 0.5;
    -fx-background-radius: 35 ;
    -fx-effect: dropshadow(three-pass-box , black, 1, 0.0 , 0, 0);

}

#loginbtn{
    
    -fx-text-fill: white;
   -fx-background-color: #4059a9;
    -fx-effect: dropshadow(three-pass-box , black, 1, 0.0 , 0, 0);
    
}

#loginbtn:hover{
    
    -fx-text-fill: white;
   -fx-background-color: #4059a9;
    -fx-effect: dropshadow(three-pass-box , black, 10, 0.0 , 0, 0);
    
}




#usernameInput{

    -fx-text-fill: white;
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: #4059a9;
    -jfx-unfocus-color: WHITE;
    -jfx-label-float: true;

}

#passwordInput{

    -fx-text-fill: white;

    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: #4059a9;
    -jfx-unfocus-color: WHITE;
    -jfx-label-float: true;

}
/*--------------------------------TeacherField-------------------------------*/

#TeacherFieldBorderPane  {
-fx-background-color:#2D3E50;
        
}


#closebtn{
  
    -fx-background-color:#2D3E50;
     
}

.sidebtn{
     -fx-text-fill: white;
}
